@model BookSmart.Models.Member

<div class="container">
    <form method="post" asp-action="DeleteMember">
        <input asp-for="Id" hidden />
        <div class="border p-3 mt-2">
            <div class="form-group row d-flex justify-content-center">
                <h2 class="text-black-50 pl-3">Delete Member</h2>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <label asp-for="Name"></label>
                        <input type="text" class="form-control" asp-for="Name" disabled />
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <label asp-for="MembershipType.Name"></label>
                        <input type="text" class="form-control" asp-for="MembershipType.Name" disabled />
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <label asp-for="BooksRemaining"></label>
                        <input type="number" class="form-control" asp-for="BooksRemaining" disabled />
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <label asp-for="LastLogin"></label>
                        <input type="date" class="form-control" asp-for="LastLogin" disabled />
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <input type="submit" class="btn btn-info mr-2" value="Delete" />
                <a class="btn btn-danger" asp-action="Index">Back</a>
            </div>
        </div>
    </form>
</div>
