<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="row">
        @if (TempData.ContainsKey("newAdminSignUp"))
        {
            <div class="container">
                <div class="alert alert-success alert-dismissible">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">x</a>
                    <strong>Account created for @TempData["newAdminSignUp"].ToString()</strong>
                </div>
            </div>
        }
    </div>
    <div class="text-center home-banner">
        <img src="~/img/logo-med.svg" />
        <h1 class="display-4">You're Smarter Than You <span>Book</span></h1>
        <h3>...and we can help</h3>
    </div>
    <h2 class="text-center mt-5">Annual Membership Plans</h2>
    <div class="row m-5 d-flex align-items-center justify-content-center">
        <div class="col-sm-3 d-flex justify-content-center align-items-center flex-column mb-3">
            <img src="~/img/occasionalPlan.svg" alt="Occasional Membership" />
            <h3 class=" mt-2 text-center">The Occasional</h3>
            <p class="mb-5 font-italic">12 Books at 10% off</p>
        </div>
        <div class="col-sm-3 offset-1 d-flex justify-content-center align-items-center flex-column mb-3">
            <img src="~/img/avidPlan.svg" alt="Avid Membership" />
            <h3 class="mt-2 text-center">The Avid</h3>
            <p class="mb-5 font-italic">24 Books at 20% off</p>
        </div>
        <div class="col-sm-3 offset-1 d-flex justify-content-center align-items-center flex-column mb-3">
            <img src="~/img/pandemicPlan.svg" alt="Pandemic Membership" />
            <h3 class="mt-2 text-center">The Pandemic</h3>
            <p class="mb-5 font-italic">36 Books at 40% off</p>
        </div>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - BookSmart - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>

