<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="row">
        @if (TempData.ContainsKey("newAdminSignUp"))
        {
            <div class="container">
                <div class="alert alert-success alert-dismissible">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">x</a>
                    <strong>Account created for @TempData["newAdminSignUp"].ToString()</strong>
                </div>
            </div>
        }
    </div>
    <div class="text-center home-banner">
        <img src="~/img/logo-med.svg" />  
        <h1 class="display-4">You're Smarter Than You <span>Book</span></h1>
        <h3>...and we can help</h3>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - BookSmart - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>

