@model BookSmart.Models.Book

<div class="container">
    <form method="post" asp-action="DeleteBook">
        <input asp-for="Id" hidden />
        <div class="border p-3 mt-2">
            <div class="form-group row d-flex justify-content-center">
                <h2 class="text-black-50 pl-3">Delete Book</h2>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <label asp-for="Name"></label>
                        <input type="text" class="form-control" asp-for="Name" disabled />
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <label asp-for="Author"></label>
                        <input type="text" class="form-control" asp-for="Author" disabled />
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <label asp-for="Price"></label>
                        <input id="bookPrice" type="number" step="0.01" class="form-control" asp-for="Price" disabled />
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <label asp-for="Genre.Name"></label>
                        <input type="text" class="form-control" asp-for="Genre.Name" disabled />
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <label asp-for="Description"></label>
                        <textarea class="form-control" asp-for="Description" disabled></textarea>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <input type="submit" class="btn btn-info mr-2" value="Delete" />
                <a class="btn btn-danger" asp-action="Index">Back</a>
            </div>
        </div>
    </form>
</div>


@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
        <script src="~/js/priceFormatter.js"></script>
    }
}



