@model BookSmart.ViewModels.BookFormViewModel

<div class="container">
    <form method="post" asp-action="Update">
        <input asp-for="Book.Id" hidden />
        <div class="border p-3 mt-2">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row d-flex justify-content-center">
                <h2 class="text-black-50 pl-3">Update Book</h2>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <label asp-for="Book.Name"></label>
                        <input type="text" class="form-control" asp-for="Book.Name" />
                        <span asp-validation-for="Book.Name" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <label asp-for="Book.Author"></label>
                        <input type="text" class="form-control" asp-for="Book.Author" />
                        <span asp-validation-for="Book.Author" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <label asp-for="Book.Price"></label>
                        <input id="bookPrice" type="number" step="0.01" class="form-control" asp-for="Book.Price" />
                        <span asp-validation-for="Book.Price" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <label asp-for="Book.GenreId"></label>
                        <select class="form-control" asp-for="Book.GenreId"
                                asp-items="@(new SelectList(Model.Genres, "Id", "Name"))">
                        </select>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <label asp-for="Book.Description"></label>
                        <textarea rows="4" class="form-control" asp-for="Book.Description"></textarea>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <input type="submit" class="btn btn-info mr-2" value="Update" />
                <a class="btn btn-danger" asp-action="Index">Back</a>
            </div>
        </div>
    </form>
</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
        <script src="~/js/priceFormatter.js"></script>
    }
}



